<router>
  <slot if={client.state}
        is={client.state.source.component.name}
        data={client.state}></slot>

  <script>
    const { RouterClient } = require('../lib/router.client.js')

    export default {
      onBeforeMount() {
        this.client = RouterClient(this)
      },
      onMounted() {
        this.client.router.start()
      },
      onUnmounted() {
        this.client.router.stop()
      }
    }
  </script>
</router>
